*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    @include boxSize(100vh, unset);
    font-family: $fontContent;
    font-size: $defaultFontSize;
}
