*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    @include gridContainer(grid, unset, unset, unset);
    @include gridBoxAlignment(center, center);
    height: 100vh;
    font-family: $fontContent;
    font-size: $defaultFontSize;
}