.page__main{
    @include gridContainer(grid, 200px 1fr, 100px 50px 1fr, 
   'title title'
   'searcher searcher'
   'favorite result');
   @include gridBoxAlignment(center, center);
   @include boxSize(100%, 100%);
   padding: 50px;
}

.main-title{
    grid-area: title;
    text-align: center;
    @include typography($fontTitle, $fontSizeS, unset);
}

.main__searcher{
    grid-area: searcher;
    @include gridContainer(grid, 240px 140px, 50px, 
   'input btn');
    @include gridBoxAlignment(start, center);

}

.searcher-input{
    @include input;
}

.searcher-input::placeholder {
    color: rgba(105, 105, 105, 0.548);
}

.searcher-btn{
    @include button;
}

.fav{
    display: flex;
    @include flexAlignment(center, center, row);
    @include typography($fontContent, 12px, $fontWeightS);
    text-align: start;
       
    img{
        width: 50px;
        background-color: white;
        border-radius: 2px;
        box-shadow: 0 2px 25px 2px rgba(128, 128, 128, 0.747);
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        margin: 5px;
        cursor: pointer;    
    }
}

.list-result{
    display: flex;
    @include flexAlignment(center, center, column);
    @include boxSize(190px, 120px);
    @include typography($fontContent, 12px, normal);
    text-align: start;

}

img{
    width: 100px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 25px 2px rgba(128, 128, 128, 0.747);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;    
}

.result-list{
    grid-area: result;
    display: flex;
    flex-wrap: wrap;
    @include flexAlignment(start, start, row);

}

.favorites-list{
    grid-area: favorite;
    display: flex;
    flex-wrap: wrap;
    @include flexAlignment(start, start, row);
}