.main-title{
    text-align: center;
    @include typography($fontTitle, $fontSizeS, unset);
}

.searcher-input{
    @include input;
}

.searcher-btn{
    @include button;
    margin: 0 0 20px 0;
}

.fav{
    display: flex;
    @include flexAlignment(center, center, column);
    border: 3px solid white;
    background-color: black;
    color: white;
    padding: 10px 10px 20px 10px;
    margin: 10px;
    width: 175px;
    @include typography($fontContent, $defaultFontSize, $fontWeightM); 

}

li{
    display: flex;
    @include flexAlignment(center, center, column);
    border: 3px solid black;
    padding: 10px 10px 20px 10px;
    margin: 10px;
    width: 175px;
    @include typography($fontContent, $defaultFontSize, $fontWeightM); 
}

img{
    @include boxSize(210px, unset);
    border-radius: 15px;
}

.favorites-list{
    background-color: pink;
}