.page__main{
    @include gridContainer(grid, 200px 1fr, 100px 50px 1fr, 
   'title title'
   'searcher searcher'
   'favorite result');
   @include gridBoxAlignment(center, center);
   @include boxSize(100%, 100%);
   padding: 50px;
}

.main-title{
    grid-area: title;
    text-align: center;
    @include typography($fontTitle, $fontSizeS, unset);
}

.main__searcher{
    grid-area: searcher;
    @include gridContainer(grid, 240px 140px, 50px, 
   'input btn');
    @include gridBoxAlignment(start, center);

}

.searcher-input{
    @include input;
}

.searcher-btn{
    @include button;
}

.fav{
    display: flex;
    @include flexAlignment(center, center, column);
    @include boxSize(190px, 120px);
    border: 3px solid white;
    background-color: black;
    color: white;
    padding: 10px 10px 20px 10px;
    margin: 10px;
    @include typography($fontContent, $defaultFontSize, $fontWeightM); 
    
}

li{
    display: flex;
    @include flexAlignment(center, center, column);
    @include boxSize(190px, 120px);
    border: 3px solid black;
    padding: 10px 10px 20px 10px;
    margin: 10px;
    @include typography($fontContent, 12px, $fontWeightM); 
}

img{
    @include boxSize(140px, unset);
    border-radius: 2px;
}

.result-list{
    grid-area: result;
    display: flex;
    flex-wrap: wrap;
    @include flexAlignment(center, start, row);

}

.favorites-list{
    grid-area: favorite;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    @include flexAlignment(center, start, row);
}