@mixin gridContainer($display, $gridTempCol, $gridTempRw, $gridTempAr) {
    display: $display;
    grid-template-columns: $gridTempCol;
    grid-template-rows: $gridTempRw;
    grid-template-areas: $gridTempAr;
}

@mixin gridBoxAlignment($justify-items, $align-items) {
    justify-items: $justify-items;
    align-items: $align-items;
}

@mixin flexAlignment($justify-content, $align-items, $flex-direction) {
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

@mixin typography($font-family, $font-size, $font-weight){
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin boxSize($height, $width) {
    height: $height;
    width: $width;
}

@mixin input {
    @include boxSize(30px, 200px);
    grid-area: input;
    display: inline-block;
    background-color: #fff;
    border-bottom: 3px solid black !important;
    border: none;
    font-size: $fontSizeL;
    font-family: $fontContent;
    text-align: center;
    margin: 20px 0 20px 0;
}

@mixin button {
    grid-area: btn;
    display: inline-block;
    height: 30px;
    width: 70px;
    background-color: #fff;
    border-bottom: 3px solid black !important;
    border: none;
    font-size: $fontSizeM;
    font-family: $fontAlternative;
    text-align: center;
    margin: 20px 0 20px 0;
}