//Font Family
$fontTitle: 'Montserrat Subrayada', sans-serif;
$fontAlternative: 'Bungee Shade', cursive;
$fontContent: 'Cabin Condensed', sans-serif;

//Font Size
$defaultFontSize: 16;
$fontSizeS:rem(18);
$fontSizeM:rem(24);
$fontSizeL:rem(32);

//Font Weight
$fontWeightS:300;
$fontWeightM:400;